doctype html
html
  head
    title= title
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/chartist.js")
    script(src="http://code.highcharts.com/highcharts.js")
    script(src="/javascripts/underscore.js")
    link(rel="stylesheet" type="text/css" href="/stylesheets/chartist.min.css")
    //script(src="/javascripts/chartist-test.js")
    script(src="/javascripts/highcharts-fast.js")
  body
    block content