doctype html
html
  head
    title= title
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/chartist.js")
    link(rel="stylesheet" type="text/css" href="/stylesheets/chartist.min.css")
    script(src="/javascripts/chartist-test.js")
  body
    block content